<div class="todo">
  <form (submit)="addTodo()">
    <input
      class="enterTodo"
      type="text"
      name="inputTodo"
      placeholder="Enter todo..."
      [(ngModel)]="inputTodo"
    />
    <input class="todoSubmit" type="submit" value="+" />
  </form>
  <div class="editTodo">
    <input type="text" [(ngModel)]="newTodo" placeholder="Edit your todo" />
  </div>
  <div
    class="todos {{ todo.completed ? 'done' : '' }}"
    *ngFor="let todo of todos; let i = index"
  >
    <div class="index">{{ i + 1 }}</div>
    <div class="content" (click)="todo.completed = !todo.completed">
      {{ todo.title }}
    </div>
    <button class="edit" (click)="editTodo(i, newTodo)">Edit</button>
    <button class="remove" (click)="deleteTodo(i)">Remove</button>
    <button class="get" (click)="getTaskById(i)">get</button>
  </div>
</div>
