.todo {
  width: 600px;
  form {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    .enterTodo {
      font-size: 20px;
      border-radius: 20px;
      padding-left: 10px;
      width: 400px;
    }
    .todoSubmit {
      border-radius: 40px;
      height: 40px;
      width: 40px;
      background-color: aquamarine;
      &:hover {
        background-color: bisque;
      }
    }
  }
  .editTodo {
    display: flex;
    justify-content: center;
    input {
      font-size: 20px;
      border-radius: 20px;
      padding-left: 10px;
      width: 440px;
      height: 40px;
    }
  }
  .todos {
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 20px;
    background-color: chartreuse;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

    .index {
      width: 5%;
    }
    .content {
      width: 70%;
      cursor: pointer;
    }
    .edit {
      width: 10%;
      border-radius: 10px;
    }
    .remove {
      width: 15%;
      border-radius: 10px;
    }
    .get {
      border-radius: 10px;
    }
  }
}

.done .content {
  text-decoration: line-through;
}
