.app {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #5bb5ff;
  .wrapper {
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid #000000;
    padding: 50px;
    margin: 20px;
    .header {
      display: flex;
      justify-content: center;
    }
  }
}
